<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>教师课题</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css"/>
    <script src="../static/layui/layui.js"></script>
    <script src="../static/vue.global.js"></script>
    <script src="../static/axios.min.js"></script>
    <script src="../static/jquery-1.12.4.min.js"></script>
    <link href="../static/bootstrap-3.4.1-dist/css/bootstrap.min.css"
          rel="stylesheet">
    <script src="../static/bootstrap-3.4.1-dist/js/bootstrap.min.js"></script>
</head>
<body>
<div id="app" style="width: 100%">

    <!-- 显示信息框 -->
    <div class="modal fade" id="introductionModal"
         role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">课题信息</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">介绍</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">
                                    {{currentIntroduction}}
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--导航栏-->
    <ul class="layui-nav">
        <li class="layui-nav-item">
            <a href="/index-instructor">课题论文管理系统</a>
        </li>
        <li class="layui-nav-item">
            <a href="/subject-instructor">课题信息</a>
        </li>
        <li class="layui-nav-item">
            <a href="/openingReport-instructor">开题信息</a>
        </li>
        <li class="layui-nav-item">
            <a href="/thesis-instructor">论文定稿</a>
        </li>
        <li class="layui-nav-item">
            <a>欢迎你，{{username}}</a>
            <dl class="layui-nav-child">
                <dd><a href="/user/logout">退出登录</a></dd>
            </dl>
        </li>
    </ul>

    <div class="layui-row layui-col-space15" style="width: 70%; margin: auto; margin-top: 30px">
        <!--选择框-->
        <select v-model="currentState" @change="updateSubject">
            <option value="">筛选课题状态</option>
            <option value="2">待审核课题申请</option>
            <option value="3">待修改课题信息</option>
            <option value="11">待提交开题报告</option>
            <option value="12">待审核开题报告</option>
            <option value="13">待修改开题报告</option>
            <option value="21">待提交论文定稿</option>
            <option value="22">待审核论文定稿</option>
            <option value="23">待修改论文定稿</option>
            <option value="100">课题完成</option>
        </select>
        <!--课题信息-->
        <table class="layui-table">
            <thead>
            <tr>
                <th>编号</th>
                <th>课题名称</th>
                <th>选题学生</th>
                <th>指导老师</th>
                <th>申报时间</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <template v-if="currentSubjects">
                <tr v-for="item in currentSubjects">
                    <td>{{item.subjectId}}</td>
                    <td>{{item.subjectName}}</td>
                    <td>[{{item.stuClass}}]{{item.studentName}}</td>
                    <td>{{item.instructorName}}</td>
                    <td>{{item.applicationTime}}</td>
                    <td>{{item.subjectState}}</td>
                    <td>
                        <button
                                type="button"
                                class="layui-btn layui-btn-sm"
                                @click="showDetail(item.subjectId)"
                        >
                            查看介绍
                        </button>

                        <template v-if="item.subjectState=='待审核课题申请'">
                            <button
                                    type="button"
                                    class="layui-btn layui-btn-sm"
                                    @click="agreeSubject(item.subjectId)"
                            >
                                通过申报
                            </button>
                            <button
                                    type="button"
                                    class="layui-btn layui-btn-sm"
                                    @click="rejectSubject(item.subjectId)"
                            >
                                打回
                            </button>
                        </template>
                    </td>
                </tr>
            </template>
            <template v-else> 正在检索{{currentState}}</template>
            </tbody>
        </table>
    </div>
</div>
</body>
<script>
    const {createApp} = Vue;
    layui.use("element", function () {
        var element = layui.element;
    });
    layui.use("layer", function () {
        var layer = layui.layer;
    });
    createApp({
        data() {
            return {
                countResult: null,
                user: null,
                username: "",
                currentSubjects: [],
                currentIntroduction: "",
                currentState: "",
            };
        },
        created() {
            this.getUser();
            this.getAllSubject();
        },
        methods: {
            getUser() {
                let that = this;
                axios
                    .get("/user/getUser")
                    .then(function (response) {
                        console.log(response.data);
                        if (response.data.code == 200) {
                            that.user = response.data;
                            that.username = response.data.name;
                        }
                    })
                    .catch(function (error) {
                    });
            },
            getSubjects(type) {
                let that = this;
                axios
                    .get("/subject/getSubjectByState/" + type)
                    .then(function (response) {
                        console.log(response.data);
                        if (response.data.code == 200) {
                            let temp = [];
                            for (
                                let index = 0;
                                index < response.data.subject.length;
                                index++
                            ) {
                                temp.push({
                                    subjectId: response.data.subject[index].subjectId,
                                    subjectName: response.data.subject[index].subjectName,
                                    studentName: response.data.student[index].stuName,
                                    stuClass: response.data.stuClass[index],
                                    instructorName: response.data.instructorName,
                                    subjectState:
                                        response.data.subjectState[index],
                                });
                            }
                            that.currentSubjects = temp;
                        }
                    })
                    .catch(function (error) {
                        if (error instanceof TypeError) {
                            layer.msg("暂无该类课题");
                        } else {
                            layer.msg("查询失败");
                        }
                    });
            },
            getAllSubject() {
                let that = this;
                axios
                    .get("/subject/getSubject")
                    .then(function (response) {
                        console.log(response.data);
                        if (response.data.code == 200) {
                            let temp = [];
                            for (
                                let index = 0;
                                index < response.data.subject.length;
                                index++
                            ) {
                                temp.push({
                                    subjectId: response.data.subject[index].subjectId,
                                    subjectName: response.data.subject[index].subjectName,
                                    studentName: response.data.student[index].stuName,
                                    stuClass: response.data.stuClass[index],
                                    instructorName: response.data.instructorName,
                                    applicationTime: response.data.subject[index].applicationTime,
                                    subjectState:
                                        response.data.subjectState[index],
                                });
                            }
                            that.currentSubjects = temp;
                        }
                    })
                    .catch(function (error) {
                        if (error instanceof TypeError) {
                            layer.msg("暂无课题");
                        } else {
                            layer.msg("查询失败");
                        }
                    });
            },
            updateSubject() {
                console.log(this.currentState);
                if (this.currentState != "") {
                    this.currentSubjects = null;
                    this.getSubjects(this.currentState);
                } else {
                    this.currentSubjects = null;
                    this.getAllSubject();
                }
            },
            deleteSubject(subjectId) {
                let that = this;
                axios
                    .get("/subject/deleteSubject/" + subjectId)
                    .then(function (response) {
                        console.log(response.data);
                        if (response.data.code == 200) {
                            layer.msg("操作成功");
                            that.updateSubject();
                        }
                    })
                    .catch(function (error) {
                        layer.msg("操作失败");
                    });
            },
            agreeSubject(subjectId) {
                let that = this;
                axios
                    .get("subject/updateSubjectState/" + subjectId + "/11")
                    .then(function (response) {
                        console.log(response.data);
                        if (response.data.code == 200) {
                            layer.msg("操作成功");
                            that.updateSubject();
                        }
                    })
                    .catch(function (error) {
                        layer.msg("操作失败");
                    });
            },
            rejectSubject(subjectId) {
                let that = this;
                axios
                    .get("subject/updateSubjectState/" + subjectId + "/3")
                    .then(function (response) {
                        console.log(response.data);
                        if (response.data.code == 200) {
                            layer.msg("操作成功");
                            that.updateSubject();
                        } else {
                            layer.msg("操作失败");
                        }
                    })
                    .catch(function (error) {
                        layer.msg("操作失败");
                    });
            },
            showDetail(subjectId) {
                let that = this;
                axios
                    .get("/subject/getSubjectIntroduction/" + subjectId)
                    .then(function (response) {
                        console.log(response.data);
                        if (response.data.code == 200) {
                            that.currentIntroduction = response.data.introduction;
                            $('#introductionModal').modal({
                                backdrop: "static"
                            });
                        }
                    })
                    .catch(function (error) {
                        layer.msg("查询失败");
                    });
            },
        },
    }).mount("#app");
</script>
</html>
