<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.integratedsystem.mapper.SubjectStateMapper">

    <resultMap id="BaseResultMap" type="com.example.integratedsystem.pojo.SubjectState">
            <id property="stateId" column="state_id" jdbcType="INTEGER"/>
            <result property="stateName" column="state_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        state_id,state_name
    </sql>

</mapper>
